<div id="board" class="board" style="display:none">  
  <% current_game.categories.each do |category| %>
    <div class="category">
      <h2><%= category.name %></h2>
      <% category.questions.each do |question| %>
        <p class="question-<%= question.id %>"><%= question.value %></p>
      <% end %>
    </div>
  <% end %>
  <p id='selecting'>Waiting for selection.</p>
</div>

<div id="selection-board" class="board" style="display:none">
  <% current_game.categories.each do |category| %>
    <div class="category">
      <h2><%= category.name %></h2>
      <% category.questions.each do |question| %>
        <p class="question-<%= question.id %>"><%= link_to question.value, game_select_path(current_game, question_id: question.id), id: question.id, method: :patch, remote: true %></p>
      <% end %>
    </div>
  <% end %>
  <p id='selecting'>Please select a question</p>
</div>