<p><%= link_to '< Back', games_path %></p>
<div id='game-box' data-channel-subscribe='game' data-game-id='<%= current_game.id %>'>
  <% if current_game.status == "waiting" && !current_game.users.include?(current_user) %>
    <%= link_to "Join", game_join_path(current_game), method: :patch %>
  <% end %>
</div>
<%= render 'board' %>
<%= render 'question' %>
<%= render 'buzzer' %>
<div id="player-info">
  <%= render 'players' %>
</div>
<% if current_game.first_user == current_user %>
  <% if current_game.status == "full" %>
    <%= link_to 'Start', game_start_path(current_game), id: "start-button", method: :patch, remote: true %>
  <% end %>
  <%= link_to 'Start', game_start_path(current_game), style:'display:none', id: "start-button", method: :patch, remote: true %>
<% end %>
<input type="hidden" id="user" data-id="<%= current_user.id %>">